@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
    
}
body {
    color: white;
    
}
body >.wrapper{
background-image: url('./hospital-423751_1920.jpg');
height: 100vh;
background-position: auto;
background-size: cover;
}
body > .wrapper > .container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading-container{
    width:35rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding:1.5rem 3rem;
    text-align: center;
}
body > .wrapper > .container >form{
    background-color: rgba(0, 0, 0, 0.7);
    width:35rem;
    padding:1.5rem 3rem;
  
}

.form-item-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.form-item-wrapper label{
    padding:0.9rem 0;
    margin-top: 1rem;
}
input{
    padding:0.6rem;
    border-radius: 0.5rem;
    background: none;
    color: white;
    border:0.1rem solid white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number], 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: textfield;
        appearance: textfield;
}
select{
    padding:0.6rem;
    border-radius: 0.5rem;
    background: none;
    color: white;
    border:0.1rem solid white;
    margin-bottom: 2rem;
}
input[type=submit]{
    font-weight: bold;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: white;
    color: black;
}